@import "../../styles/mixins.scss";
@mixin cardParams($height, $width, $color) {
  height: $height;
  background-color: $color;
  width: $width;
}

.popular {
  .card {
    @include cardParams(357px, 360px, beige);
    .bot-container {
      height: 100%;
      span {
        text-align: center;
      }
      .span-header {
        @include font(40px, 2.67, 600);
      }
      .span-body {
        @include font(25px, 1.67);
      }
    }
  }
  &.mobile {
    img {
      height: 224px;
      width: 206px;
      object-fit: cover;
    }
    .card {
      @include cardParams(338px, 206px, beige);
      .bot-container {
        .span-header {
          @include font(25px, 1.67, 600);
        }
        .span-body {
          @include font(20px, 1.33);
        }
      }
    }
  }
}

.dish {
  text-align: center;
  .upper-title {
    @include font(30px, 1.77px);
  }
  .card {
    margin-top: 15px;
    @include cardParams(654px, 360px, beige);
    .bot-container {
      height: 100%;
      width: 100%;
      position: relative;
      span {
        text-align: center;
      }
      .span-header {
        position: absolute;
        top: 10px;
        @include font(40px, 2.67, 600);
        max-width: fit-content;
        width: 210px;
        height: 142px;
      }
      .span-body {
        @include font(25px, 1.67);
        padding: 0 32px;
        width: 260px;
        height: 154px;
        position: absolute;
        bottom: 82px;
      }
      .icon {
        position: absolute;
        bottom: 53px;
      }
      .price-container {
        width: 100%;
        position: absolute;
        bottom: 11px;
        .line {
          width: 100px;
          height: 1px;
          background-color: black;
        }
        .price {
          @include font(25px, 1.66px);
        }
      }
    }
  }
  &.mobile {
    .upper-title {
      //margin-bottom: 15px;
      @include font(16px, 0.94px);
    }
    img {
      height: 209px;
    }
    .card {
      @include cardParams(471px, 260px, beige);
      img {
        width: 260px;
      }
      .bot-container {
        .span-header {
          @include font(27px, 1.84px, 600);
        }
        .span-body {
          @include font(17px, 1.15px);
          padding: 0 20px;
          bottom: 25px;
        }
        .icon {
          width: 39px;
          height: 30px;
        }
        .price-container {
          .line {
            width: 78px;
          }
        }
      }
    }
  }
}
.restaurant {
  .card {
    @include cardParams(357px, 231px, beige);
    .bot-container {
      margin: auto;
      .span-header {
        @include font(40px, 2.67px, 600);
        text-align: center;
        max-width: fit-content;
      }
      .span-body {
        @include font(25px, 1.67px);
        text-align: center;
      }
    }
  }
  &.mobile {
    .card {
      img {
        height: 149px;
      }
      @include cardParams(237.5px, 153px, beige);
      .bot-container {
        .span-header {
          @include font(20px, 1.33px, 600);
        }
      }
    }
  }
}
