<div [ngClass]="type">
  <span *ngIf="upperTitle" class="upper-title" fxLayoutAlign="center center">{{
    upperTitle
  }}</span>
  <div fxLayout="column" fxLayoutAlign="start center" class="card">
    <img class="image" [src]="img" alt="dish" />
    <div class="bot-container" fxLayout="column" fxLayoutAlign="center center">
      <span class="span-header">{{ lowerTitle }}</span>
      <span *ngIf="description" class="span-body">{{ description }}</span>
      <img *ngIf="propertyIcon" class="icon" [src]="propertyIcon" alt="icon" />
      <div
        *ngIf="price"
        class="price-container"
        fxLayout="row"
        fxLayoutAlign="space-evenly center"
      >
        <div class="line"></div>
        <span class="price">₪{{ price }}</span>
        <div class="line"></div>
      </div>
    </div>
  </div>
</div>
