@import "../../styles/mixins.scss";

.hero-image-container {
  height: 696px;
  margin-bottom: 140px;
  .top-container {
    position: relative;

    .rectangle {
      gap: 18px;
      @include font(35px, 1.97px);
      position: absolute;
      width: 781px;
      height: 222px;
      min-width: 260px;
      background-color: rgba(255, 255, 255, 0.88);
      inset: 0;
      margin: auto;
      justify-content: center;
      span {
        width: 437px;
        text-align: center;
      }
    }
    .hero-image {
      width: 100%;
      height: 696px;
      object-fit: cover;
    }
  }
  &.mobile {
    height: 395px;
    margin-bottom: 51px;
    .top-container {
      height: 269px;
      .rectangle {
        gap: 13px;
        width: 335px;
        height: 125px;
        @include font(16px, 1px);

        span {
          width: 205px;
          text-align: center;
        }
      }
      .hero-image {
        height: 269px;
      }
    }
    .bottom-container {
      width: 100%;
      height: 125px;
      background-color: #fafafa;
      .bottom-btn {
        @include font(13px, 0.93px);
        padding: 15px;
        background-color: sandybrown;
        text-align: center;
        border: none;
      }
    }
  }
}

.popular-restaurants-container {
  width: fit-content;
  margin: auto;
  .arrow-container {
    margin-top: 31px;
    margin-bottom: 87px;
    justify-content: right;
    width: 100%;
    display: flex;
    .arrow-title {
      @include font(30px, 2px);
      line-height: 40px;
    }
    img {
      margin-left: 12px;
      width: 24;
      height: 18;
    }
  }
  &.mobile {
    margin-bottom: 100px;
    padding-left: 20px;
  }
}
.signature-dish-container {
  width: fit-content;
  margin: auto;
  padding-left: 20px;
}
.icon-rectangle {
  width: 100%;
  height: 265px;
  padding-top: 41px;
  background-color: #fafafa;
  opacity: 0.9;
  margin: 87px 0 100px;
  .icon-container {
    .container {
      margin: 0 50px;
      align-items: center;
      span {
        margin-top: 16px;
      }
    }
  }
  &.mobile {
    height: 134px;
    padding-top: 16px;
    .icon-container {
      .container {
        margin: 0 16px;
      }
      img {
        width: 33px;
        height: 34px;
      }
    }
  }
}

.chef-of-the-week-container {
  margin: 0 auto;
  width: fit-content;
  .container {
    margin-bottom: 59px;
    p {
      @include font(25px, 1.08px);
      height: 292px;
      width: 540px;
    }
  }
  .bottom-container {
    span {
      @include font(30px, 1.29px);
      margin-bottom: 23px;
    }
  }
  &.mobile {
    width: 100%;
    .container {
      margin: 0 auto;
      img {
        width: 334px;
        height: 240px;
      }
      p {
        text-align: center;
        @include font(13.5px, 1.04px);
        width: 325px;
        height: 182px;
      }
    }
    .bottom-container {
      padding-left: 30px;
      .chefs-restaurants {
        text-align: start;
      }
    }
  }
}
.about-us {
  margin-top: 117px;
  width: 100%;
  height: 526px;
  opacity: 0.9;
  background-color: #fafafa;
  .title {
    @include font(30px, 1.89px);
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  .right-container {
    .logo {
      width: 137px;
      height: 128px;
    }
  }
  .left-container {
    .paragraph {
      width: 567px;
      height: 269px;
      p {
        @include font(22px, 1.69px);
      }
    }
    .btns {
      padding-top: 23px;
      width: 100%;
      display: flex;
      .download-button {
        display: flex;
        justify-content: center;
        align-items: center;
        @include font(13.2px, 1.29px);
        border: solid 0.6px black;
        border-radius: 9.6px;
        width: 181px;
        height: 53px;
        background-color: transparent;
        margin-right: 15px;
        gap: 1.5rem;
        .logo-title {
          @include font(17.2px, 1.29px);
        }
      }
    }
  }
  &.mobile {
    margin-top: 97px;
    gap: 32px;
    height: 605px;
    .title {
      text-align: center;
      @include font(14px, 0.88px);
    }
    .left-container {
      margin: 0 50px;
      text-align: center;
      align-items: center;
      .paragraph {
        width: 90%;
        height: 260px;
        text-align: center;
        p {
          @include font(14px, 1.08px);
        }
      }
      .btns {
        .download-button {
          width: 127px;
          height: 37px;
          .android {
            width: 14px;
            height: 18px;
          }
          .apple {
            width: 17px;
            height: 22px;
          }
          @include font(9.2px, 0.9px);
          .logo-title {
            @include font(12.2px, 1.29px);
          }
        }
      }
    }
  }
}
