<app-header></app-header>
<div class="hero-image-container">
  <div class="rectangle" fxLayout="column" fxLayoutAlign="center center">
    <span>Epicure works with the top chef restaurants in Tel Aviv</span>
    <app-input></app-input>
  </div>
  <img class="hero-image" src="/assets/hero-picture.png" alt="hero-image" />
</div>
<span class="popular-restaurants" fxLayout="row" fxLayoutAlign="center center"
  >THE POPULAR RESTAURANTS IN EPICURE :</span
>
<div
  class="popular-restaurants-cards-container"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <app-card
    *ngFor="let dish of dishes"
    [dishName]="dish.name"
    [chefName]="dish.chefName"
    [dishImg]="dish.img"
  ></app-card>
</div>

<span>All Restaurants</span>
