<div class="hero-image-container" [ngClass.xs]="'mobile'">
  <div class="top-container">
    <div class="rectangle" fxLayout="column" fxLayoutAlign="center center">
      <span>Epicure works with the top chef restaurants in Tel Aviv</span>
      <app-input [type]="'hero-input'"></app-input>
    </div>
    <img
      class="hero-image"
      src="/assets/pictures/hero-picture.png"
      alt="hero-image"
    />
  </div>
  <div
    class="bottom-container"
    fxHide.gt-xs
    fxLayoutAlign.xs="center center"
    fxLayoutGap.xs="17px"
  >
    <button class="bottom-btn">CHEFS</button>
    <button class="bottom-btn">RESTAURANTS</button>
  </div>
</div>

<div
  class="popular-restaurants-container"
  fxLayout="column"
  fxLayoutAlign="center right"
  fxLayoutAlign.xs="center center"
  [ngClass.xs]="'mobile'"
>
  <app-title content="THE POPULAR RESTAURANTS IN EPICURE :"></app-title>
  <carousel
    fxHide.gt-xs
    [arrows]="false"
    [width]="screenWidth - 20"
    [cellWidth]="206"
    [height]="340"
  >
    <div class="carousel-cell" *ngFor="let res of popRestaurants">
      <app-card
        [lowerTitle]="res.lowerTitle"
        [description]="res.description"
        [img]="res.img"
        [type]="'popular'"
      ></app-card>
    </div>
  </carousel>
  <carousel
    fxHide.xs
    [arrows]="false"
    [cellWidth]="360"
    [height]="357"
    [width]="360 * 3"
  >
    <div class="carousel-cell" *ngFor="let res of popRestaurants">
      <app-card
        [lowerTitle]="res.lowerTitle"
        [description]="res.description"
        [img]="res.img"
        [type]="'popular'"
      ></app-card>
    </div>
  </carousel>
  <div class="arrow-container" fxHide.xs>
    <span class="arrow-title">All Restaurants</span>
    <img src="assets/icons/all-restaurants-arrows.svg" alt="arrow" />
  </div>
</div>

<div class="signature-dish-container" [ngClass.xs]="'mobile'">
  <app-title content="SIGNTURE DISH OF :"></app-title>
  <carousel
    [height]="495"
    [width]="screenWidth - 20"
    [cellWidth]="260"
    [arrows]="false"
    fxHide.gt-xs
  >
    <div class="carousel-cell" *ngFor="let dish of signatureDishes">
      <app-card
        [upperTitle]="dish.upperTitle"
        [lowerTitle]="dish.lowerTitle"
        [description]="dish.description"
        [price]="dish.price"
        [propertyIcon]="dish.propertyIcon"
        [img]="dish.img"
        [type]="'dish'"
      ></app-card>
    </div>
  </carousel>
  <carousel
    [height]="705"
    [cellWidth]="360"
    [arrows]="false"
    fxHide.xs
    [width]="360 * 3"
  >
    <div class="carousel-cell" *ngFor="let dish of signatureDishes">
      <app-card
        [upperTitle]="dish.upperTitle"
        [lowerTitle]="dish.lowerTitle"
        [description]="dish.description"
        [price]="dish.price"
        [propertyIcon]="dish.propertyIcon"
        [img]="dish.img"
        [type]="'dish'"
      ></app-card>
    </div>
  </carousel>
</div>

<div class="icon-rectangle" fxLayout="column" [ngClass.xs]="'mobile'">
  <app-title class="title" content="THE MEANING OF OUR ICONS :"></app-title>
  <div class="icon-container" fxLayoutAlign="center center">
    <div *ngFor="let icon of icons" class="container" fxLayout="column">
      <img [src]="icon.img" [alt]="icon.content" />
      <span>{{ icon.content }}</span>
    </div>
  </div>
</div>

<div
  class="chef-of-the-week-container"
  fxLayout="column"
  [ngClass.xs]="'mobile'"
  *ngIf="chefOfTheWeek"
>
  <app-title content="CHEF OF THE WEEK :"></app-title>
  <div
    class="container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="70"
    fxLayoutGap.xs="21"
  >
    <img [src]="chefOfTheWeek.image" alt="chef-of-the-week" />
    <p>
      {{ chefOfTheWeek.description }}
    </p>
  </div>

  <div class="bottom-container">
    <span class="chefs-restaurants"
      >{{ chefOfTheWeek.name }}'s Restaurants :</span
    >
    <carousel
      [height]="237"
      [width]="screenWidth - 30"
      [cellWidth]="149"
      fxHide.gt-xs
      [arrows]="false"
    >
      <div class="carousel-cell" *ngFor="let res of chefsRestaurants">
        <app-card
          [img]="res.img"
          [lowerTitle]="res.lowerTitle"
          [type]="'restaurant'"
        ></app-card>
      </div>
    </carousel>
    <carousel
      [height]="357"
      [cellWidth]="231"
      fxHide.xs
      [arrows]="false"
      [width]="240 * 3"
    >
      <div class="carousel-cell" *ngFor="let res of chefsRestaurants">
        <app-card
          [img]="res.img"
          [lowerTitle]="res.lowerTitle"
          [type]="'restaurant'"
        ></app-card>
      </div>
    </carousel>
  </div>
</div>

<div
  class="about-us"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutAlign="center center"
  fxLayoutGap.gt-xs="182px"
  [ngClass.xs]="'mobile'"
>
  <div class="left-container" fxLayout="column">
    <span class="title">ABOUT US :</span>
    <div class="paragraph">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel
        justo fermentum bibendum non eu ipsum. Cras porta malesuada eros, eget
        blandit turpis suscipit at. Vestibulum sed massa in magna sodales porta.
        Vivamus elit urna, dignissim a vestibulum.
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel
        justo fermentum bibendum no eu ipsum. Cras porta malesuada eros.
      </p>
    </div>
    <div fxHide.gt-md>
      <img class="logo" src="assets/pictures/about-logo.png" alt="about-logo" />
    </div>
    <div class="btns" fxLayoutAlign.xs="center center">
      <button class="download-button">
        <img class="apple" src="assets/icons/apple-logo.svg" alt="apple-logo" />
        <span
          >Download in the
          <br />
          <span class="logo-title">App Store</span>
        </span>
      </button>
      <button class="download-button">
        <img
          class="android"
          src="assets/icons/android-logo.svg"
          alt="android-logo"
        />
        <span
          >Download in the <br /><span class="logo-title"
            >Goole Play</span
          ></span
        >
      </button>
    </div>
  </div>
  <div class="right-container" fxHide.lt-lg>
    <img src="assets/pictures/about-logo.png" alt="about-logo" />
  </div>
</div>
