<header fxLayout="row" fxLayoutAlign="space-around center">
  <div class="left-side-container" fxLayout="row" fxLayoutAlign="center center">
    <nav class="title" fxLayout="row" fxLayoutAlign="center center">
      <img src="/assets/pictures/logo.jpg" class="logo" />
      <span class="epicure">EPICURE</span>
      <ul fxLayout="row" fxLayoutAlign="center center">
        <li>Resturants</li>
        <li>Chefs</li>
      </ul>
    </nav>
  </div>
  <div
    class="right-side-container"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <app-input type="top-input"></app-input>
    <img src="/assets/icons/user-icon.svg" class="icon" />
    <img src="/assets/icons/bag-icon.svg" class="icon" />
  </div>
</header>
